{% block _oro_wirecard_seamless_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' input input--short',
    'autocomplete': 'off'
    }) %}

    {%- set type = type|default('password') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <span class="tooltip-container">
        <a href="javascript: void(0);" class="tooltip-trigger">{{ 'oro.wirecard.credit_card.whats_this'|trans }}</a>
        <span class="tooltip top tooltip--animated">
            <span class="tooltip-inner">{{ 'oro.wirecard.credit_card.tooltip'|trans|nl2br }}</span>
        </span>
    </span>
{% endblock %}
