{% block _oro_wirecard_seamless_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--short',
        'autocomplete': 'off'
    }) %}

    {%- set type = type|default('password') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <span class="ttip__wrap">
        <a href="javascript: void(0);" class="ttip__toggle">{{ 'oro.wirecard.credit_card.whats_this'|trans }}</a>
        <span class="ttip">
            <span class="ttip__content">{{ 'oro.wirecard.credit_card.tooltip'|trans|nl2br }}</span>
        </span>
    </span>
{% endblock %}
