{% block _oro_wirecard_seamless_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' input input--short',
    'autocomplete': 'off'
    }) %}

    {%- set type = type|default('password') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <a href="javascript: void(0);"
       data-toggle="tooltip"
       data-title="{{ 'oro.paypal.credit_card.tooltip'|trans }}"
       data-html="true"
       data-container="body"
    >
        {{ 'oro.wirecard.credit_card.whats_this'|trans }}
    </a>
{% endblock %}
