{% block _oro_wirecard_seamless_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--short',
        'autocomplete': 'off',
        'minlength': 3,
        'maxlength': 4,
        'data-page-component-view': 'orofrontend/default/js/app/views/fake-masked-input-view'
    }) %}

    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <a href="#"
       data-toggle="tooltip"
       data-title="{{ 'oro.paypal.credit_card.tooltip'|trans }}"
       data-html="true"
       data-container="body"
       data-placement="{% if isMobileVersion() %}top{% else %}right{% endif %}"
       data-offset="0, 8px"
    >
        {{ 'oro.wirecard.credit_card.whats_this'|trans }}
    </a>
{% endblock %}
